.chat-screen {
    padding: 0 var(--horizontal-space);
}

.user-component__subtitle {
    font-size: 14px;
    opacity: 0.7;
}


.user-component__colunm span:last-child {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: tomato;
    color: white;
    font-size: 14;
    margin-top: 5px;
    margin-left: 20px;
}