#daily {
    padding: 0 15px 0 15px;
}

#daily header {
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 20px;
}

#daily article {
    display: flex; 
}

#daily img {
    border-radius: 10px;
    width: 125px;
    height: 170px;
    margin-right: 30px;
}

#daily article > div {
    display: flex;
    flex-direction: column;
}

#daily article > div > span:first-child {
    font-weight: 700;
    font-size: large;
}

#daily article > div > span:nth-child(2){
    font-size: small;
    color: gray;
    margin-top: 5px;
} 

#daily article > div span:nth-child(3){
    margin-top: 10px;
    color: gold;
    margin-bottom: 15px;
}

.keywords{
    display: flex;
    justify-content: space-between;
    width: 165px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.keywords span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 70px;
    height: 27px;
    background-color: rgb(235, 228, 228);
    border-radius: 5px;
}

.buttons {
    width: 165px;
    display: flex;
    justify-content: space-between;
}

#daily button:first-child {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: none;
    background-color: gold;
}

#daily button:last-child {
    background-color: black;
    border-radius: 5px;
    height: 36px;
    width: 95px;
    color: white;
    font-size: 12px;
}