.badge { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: tomato;
    color: white;
    font-size: 14;
}

.badge__dot {
    display: flex;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: tomato;
    
}