.screen-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 25px 10px 25px;
    align-items: center;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 18px;
}

#id-icon {
    width: 34px;
    height: 34px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    font-weight: 700;
}

@keyframes rotategear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotategear 4s ease-in-out infinite;
}